body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: #f0e68c;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    color: darkslategray;
    border:5px solid darkslategray;
}
img{
    width:10%;
    height:150%
}
h2{
    text-align: center;
    color: darkslategray;
    font-size: 2em;
    text-shadow: 3px 3px 5px red, -3px -3px 5px blue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.projects{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 1em; 
    padding: 1em;
}
nav{
    background-color: #f0e68c;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: darkslategray;
    gap: 10px;
    
}
.p{
    border: 5px solid darkslategray;
    background-color: cadetblue;
    text-align: center;
    border-radius: 100px;
    width:20%
}
.skills{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 1em; 
    padding: 1em;
}
.s{
    border: 5px solid darkslategray;
    background-color:chartreuse;
    text-align: center;
    border-radius: 100px;
    width:18%
}
.aabout{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 1em; 
    padding: 1em;
}