body{
    margin: 0px;
    background-color: lightblue;
    align-items: center;
}

main{
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

h1{
    text-align: center;
}

.navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    list-style-type: none;
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    gap: 30px;  
}

.navbar a{
    color: blue;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:darkgrey;
}

.card{
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    background-color: white;
    width: 300px;
    justify-content: center;
    box-shadow: 3px 3px 5px yellow, -3px -3px 5px orangered;
}   

.card-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
